<h1>User</h1>
<p><%= @user.name %></p>
<p><%= @user.email %></p>
<p><%= @user.phone_number %></p>
<p><%= @user.address %></p>
<p><%= @user.created_at %></p>
<p><%= @user.updated_at %></p>

<h1>Booking Description</h1>
<p><%= @booking.date %></p>
<p><%= @booking.time %></p>
<p><%= @booking.washer %></p>
<p><%= @booking.sheets %></p>
<p><%= @booking.description %></p>
<p><%= @booking.created_at %></p>
<p><%= @booking.updated_at %></p>