<div class="support-body">
  <h2>Please fill in the information below to process booking</h2>
  <div id="form">

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', :target => @user %>

      <div class="field">
        <%= f.label :name, "Name*" %>
        <%= f.text_field :name %>
      </div>
      
      <div class="field">
        <%= f.label :email, "Email*" %>
        <%= f.text_field :email %>
      </div>
      
      <div class="field">
        <%= f.label :phone_number, "Phone number*" %>
        <%= f.text_field :phone_number %>
      </div>
      
      <div class="field">
        <%= f.label :address, "Address*" %>
        <%= f.text_field :address %>
      </div>

      <%= f.fields_for :bookings do |booking_form| %>
        
        <div class="field">
          <%= booking_form.label :date %>
          <%= booking_form.date_select :date %>
        </div>

        <div class="field" id="last">
          <%= booking_form.label :time %>
          <%= am_pm_hour_select booking_form, :time, start:10 %>
        </div>

        <div class="field", id="checkbox">
          <%= booking_form.check_box :sheets, :style => "float:left;" %>  
          <%= booking_form.label :sheets, "My apartment has extra sheets and towels", :style => "float:left;" %>
        </div>
        
        <div class="field", id="checkbox">
          <%= booking_form.check_box :washer, :style => "float:left;" %>
          <%= booking_form.label :washer, "My apartment has a washer and dryer", :style => "float:left;" %>
        </div>

        <div class="field", id="description">
          <%= booking_form.label :description, "Description*" %>
          <%= booking_form.text_area :description %>
        </div>
      <% end %>

      <div class="actions"><%= f.submit "Book Now" %></div>
    <% end %>
  </div>
</div>
